<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Github Nick App</title>
  <link rel="icon" href="favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  <main class="main">
    <section class="form__section">
      <form class="form">
        <div class="form--input">
        <label class="label" for="nickUser">Escribe el nick de una usuaria de Github</label>
        <input type="text" class="nickUser" id="nickUser" placeholder="ej: oneeyedman">
        </div>
        <button class="btn" type="submit">Buscar</button>
      </form>
    </section>
    <section class="letters__section">
      <ol class="list"></ol>
    </section>
  </main>
  <script type="text/javascript" src="assets/js/main.js"></script>
</body>

</html>